.c-form {
  &__wrapper {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    .form-group {
      padding-bottom: 10px;

    }
  }
  &__label {
    border-left: 2px solid $bg-color--accent;
    color: $font-color--heading;
    padding-left: $space--m;
    display: inline-block;
    margin: 20px 0 0 2px;
  }
  &__category {
    background: $bg-color--main;
    color: $font-color--white;
    font-family: $font-family--default;
    font-weight: normal;
    font-size: 16px;
  }
}
