.calendar table{
	table-layout: fixed;
	th {
		text-align: center;
		border: solid 1px #999;
	}
	td {	
		padding: 0px;
		border: solid 1px #999;
		// background-color: #ccc;
		width:150px;
		height:80px;
		font-size:14pt;
		text-align: center;
		vertical-align:middle;
		overflow: hidden;
		.day {
			margin-bottom: 0;
		}
		&.day-reviewed {
			background-color: $bg-color--main;
		}
		&.day-today {
			background-color: $bg-color--accent;
			.day {
				font-weight: bold;
			}
		}
		&.day-target {
			background-color: $bg-color--main-light;
		}
		&.day-blank {
			background-color: #efefef;
		}
		&:before {
			display: block;
			float: left;
			height: 50px;
			content: "";
		}
		a {
			padding: 0;
			display: block;
			width: 100%;
			height: 100%;
			text-decoration: none;
			color: $font-color--default;
			&:hover{
				background-color: $bg-color--main-light;
				text-decoration: none;
			}
		}
		&.day-sun .day{
			color:red;
		}
		&.day-sat .day{
			color: blue;
		}
		&.day-holiday {
			.day{
				color:red;
			}
			.day-name {
				font-size: 8px;
				letter-spacing: 0em;
				line-height: 1.0;
			}
		}
		.category-wrapper {
			display: inline-block;
			margin: 0;
			padding: 0.1em 0.5rem;
			letter-spacing: 0em;
			line-height: 1.0;
			color: $bg-color--white;
			// border-radius: 0.2rem;
		}
		.category-name {
			font-size: 8px;
			padding: 0;
			margin: 0;
		}
		.category-hour {
			font-size: 12px;
			font-weight: bold;
			padding: 0;
			margin: 0;
		}
		.total-hour {
			font-size: 12px;
			font-weight: bold;
			letter-spacing: 0em;
			line-height: 1.0;
			padding: 0;
			margin: 0;
		}
		mark {
			display: block;
			margin-bottom: 5px;
		}
		.fas {
			font-size: 8px;
			margin-right: 5px;
		}

		
	}
}


// .review-hour {
// 	font-size: 16px;
// }
// .day-holiday .day-name {
// 	font-size: 8px;
// 	letter-spacing: 0em;
// 	line-height: 1.0;
// }
